<div class="row">
  <div class="span12">
	<form method="POST" action="<%=u('/discover')%>">
	  <fieldset>
	    <legend>Discover Hue Hub IP</legend>
	    <span class="help-block">Click the discover button to set/reset the connected Hue Hub IP Address</span>
	    <button type="submit" class="btn">Discover</button>
	  </fieldset>
	</form>
  </div>
</div>
