<% if @hub_info %>
  <div class="row">
    <div class="span12">
	  <% if @hub_info['config'] %>
	    <table class="table">
			<tr><th colspan="2">Hub Settings</th></tr>
	    <% @hub_info['config'].each do |key, value| %>
		  <tr><td><%= key %></td><td><%= value %></td></tr>
		<% end %>
	    </table>
	  <% end %>
    </div>
  </div>

  <div class="row">
  	<div class="span12"><hr/></div>
  </div>
<% end %>
